/* Body */
body, p, li {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: .01em;
  color: #000000;
}

a {
  text-decoration: none !important;
}

h1 {
  padding-top: 15px;
}


h2 {
  color: black;
}


/* Nav */
.new-nav {
  font-size: 25px;
}

.nav-purple {
  color: black;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 20px;
}

.nav-purple:hover {
  color: #4a00d8;
  text-decoration: none;
}

/* Hero */
.new-block {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Home */
.home-title {
  padding-top: 8rem;
  margin-bottom: 2rem;
}

/* About */
.profile {
  width: auto;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.about-description {
  box-sizing: border-box;
  margin: 0px auto;
  padding-top: 4rem;
  max-width: 740px;
  margin-bottom: 6rem;
}

.no-dot {
  list-style:none;
  padding:0;
  margin:0;;
}

/* Home */

.home-project {
  color: black;
  padding-top: 3rem;
}

.home-project:hover {
  color: #4a00d8;
  text-decoration: none;
}

.home-project-subtitle {
  padding-top: 1rem;
}

/* Blog */

.table-of-contents {
  padding-top: 8rem;
  margin-bottom: 10rem;
}

.blog-title {
  color: black;
}

.blog-title:hover {
  color: #4a00d8;
  text-decoration: none;
}

.blog-article {
  box-sizing: border-box;
  margin: 0px auto;
  padding-top: 4rem;
  max-width: 740px;
  margin-bottom: 6rem;
}


/* Footer */
.icon {
  font-size: 40px;
  padding: 10px 15px;
}

.icon-small {
  font-size: 30px;
  padding: 10px 15px;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Work */
.col-example{
  padding: 1rem;
  padding-bottom: 50px;
  margin-top: 100px;
  text-align: center;
  border-right: 50px solid #fc3f3f;
  border-bottom: 50px solid #4a00d8;
};


.col-example:hover {
  border: 2px solid rgb(93, 91, 201);
}

.logo-icon {
  height: 25px;
  width: auto;
  margin-left: 5px;
}

.border-image {
  box-shadow: 0 4px 20px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.animation {
  animation-duration: 1000ms; 
  animation-delay: 0ms; 
  animation-iteration-count: 1; 
  opacity: 1;
}

.fadeInUp {
  animation-name: fadeInUp;
}

/* RESORT */

.resort {
  padding-top: 100px;
}

.resort-image {
  box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
  width: 400px;
  height: auto;

}

.title {
  padding-bottom: 20px;
  font-weight: bold;
}

.title-gold {
border-bottom: 10px solid gold;
line-height: 3rem;
}
